In [1]:
import numpy as np
import pandas as pd

In [6]:
d = [[], [], [], []]

In [8]:
for i in range(16):
  d[i//4].append(np.random.randint(100))

In [9]:
d

[[27, 77, 3, 67], [37, 16, 66, 1], [23, 59, 20, 65], [34, 96, 60, 85]]

In [10]:
df = pd.DataFrame(d)

In [11]:
df.columns = ['Ft1', 'Ft2', 'Ft3', 'Ft4']
df.index = ['Obs1', 'Obs2', 'Obs3', 'Obs4']

In [12]:
df

      Ft1  Ft2  Ft3  Ft4
Obs1   27   77    3   67
Obs2   37   16   66    1
Obs3   23   59   20   65
Obs4   34   96   60   85

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Obs1 to Obs4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ft1     4 non-null      int64
 1   Ft2     4 non-null      int64
 2   Ft3     4 non-null      int64
 3   Ft4     4 non-null      int64
dtypes: int64(4)
memory usage: 332.0+ bytes